@font-face {
  font-family: VelvetHeart;
  src: url(../images/Velvet\ Heart\ Font.ttf);
}
html {
  min-width: 100vh;
  }
  body{
    background: url(../images/bg.png) no-repeat center fixed;
  }
.logo {
    position: absolute;
    width: 40%;
    
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
p {
  color: rgb(0, 255, 47);
  text-shadow:
   -1px -1px 0 #ff00e2,  
    1px -1px 0 #ff00e2,
    -1px 1px 0 #ff00e2,
     1px 1px 0 #ff00e2;
  font-size: 150px;
  font-family: VelvetHeart;
  margin: 0;
  position: absolute;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); 
}
.text1 {
  top: 15%;
  left: 15%;
} 
.text2 {
    top: 15%;
    left: 85%;
} 
.text3 {
  top: 85%;
  left: 15%;
}
.text4 {
  top: 85%;
  left: 85%;
}
@media screen and (max-width: 780px) {
  p {
    font-size: 60px;
  }
  .text1 {
    top: 25%;
    left: 25%;
  }
  .text2 {
    top: 25%;
    left: 75%;
  }
  .text3 {
    top: 75%;
    left: 25%;
  }
  .text4 {
    top: 75%;
    left: 75%;
  }
}