* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@font-face {
  font-family: VelvetHeart;
  src: url(../../images/Velvet\ Heart\ Font.ttf);
}

html {
  background: url(../../images/bg-project.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  -webkit-perspective: 2500px;
  perspective: 2500px;
  -webkit-perspective-origin: 100% 50%;
  perspective-origin: 100% 50%;
}
.wrap h1 {
  font-weight:normal;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -70%);
  color: #fff;
  font-size: 7rem;
  font-family: 'VelvetHeart', VelvetHeart, serif;
  top: 0; 
  position: absolute;
  text-shadow:
  -1px -1px 0 #6912b9,  
   1px -1px 0 #6912b9,
   -1px 1px 0 #6912b9,
    1px 1px 0 #6912b9;
}
.wrap .list {
  width: 80%;
  height: 150vh;
  overflow-x: hidden;
  webkit-transform: rotateX(35deg) rotateY(3deg) rotateZ(27deg);
  transform: rotateX(35deg) rotateY(3deg) rotateZ(27deg);
  margin: 0 0 0 200px;
  padding: 150px 100px 500px 0;
  scrollbar-width: none;
}
.wrap .list::-webkit-scrollbar {
  display: none;
}
.wrap .list::-webkit-scrollbar {
  display: none;
}
.wrap .list::-webkit-scrollbar {
  display: block;
}
.wrap .list .item {
  width: 30%;
  height: 400px;
  margin: 20px;
  display: inline-block;
  position: relative;
}
.wrap .list .item::after {
  content: "";
  position: absolute;
  z-index: 150;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 100%;
}
.wrap .list .item .img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  box-shadow: 1px 1px 50px 0 #000;
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  z-index: 10;
  position: relative;
}

@media only screen and (max-width: 1000px) {
  .wrap .list {
    height: 80vh;
  }
  .wrap h1 {
    transform: translate(-50%, -20%);
  }
}
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  right: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  font-family: VelvetHeart;
  padding: 8px;
  text-decoration: none;
  font-size: 85px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 120px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 36px}
  .overlay .closebtn {
    font-size: 56px;
    top: 15px;
    right: 35px;
  }
}
.brand-centered {
  z-index: 1;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 12px;
  top: 5px;
}
.menulogo {
  position: absolute;
  display: flex;
  align-items: left;
}

.fas {
    font-size: 30px;
    text-shadow:
    -1px -1px 0 #ff00e2,  
     1px -1px 0 #ff00e2,
     -1px 1px 0 #ff00e2,
      1px 1px 0 #ff00e2;
  }
  nav span{
    z-index: 1;
    cursor:pointer;
    outline: none;
    display: flex;
  justify-content: center;
  position: absolute;
  right: 12px;
  top: 12px;
  }